/* Top-popup */
#pop {
  height: 110px;
  background-color: #00a99d;
  text-align: center;
}
.pop-container {
  max-width: 1600px;
  margin: auto;
}
.pop__img {
  width: 320px;
  height: 110px;
}
.pop__content {
  height: 88px;
}
.pop__close-wrap {
  font-size: 14px;
  color: #eee;
  font-weight: 600;
  cursor: pointer;
  text-align: right;
  padding-right: 1rem;
}
#close:hover {
  border-bottom: 1px solid #fff;
}
.pop__desc {
  color: #ddd !important;
  font-size: 13px;
  font-weight: 400;
}

/* GNB */
.gnb {
  background: #171d33;
}
.gnb-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}
.gnb__util,
.m-shade {
  display: none;
}
.text-point {
  color: #ffe064;
}
/* language */
.lang__link:after {
  content: "";
  display: inline-block;
  margin: 0 0 0 7px;
  vertical-align: middle;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 3px solid #fff;
}
.lang {
  position: relative;
}
.lang-list {
  position: absolute;
  top: 20px;
  left: -21px;
  right: -4px;
  padding: 10px 0;
  background: #373c4f;
  z-index: 9999;
}
.lang-list__item-link {
  display: block;
  text-align: center;
  padding: 4px 0;
}
.lang-list {
  display: none;
}
.down-arrow {
  position: absolute;
  display: none;
  top: 16px;
  right: 30px;
  left: auto;
  color: #eee;
  font-size: 18px;
}
.menu-plus {
  position: absolute;
  display: none;
  top: 16px;
  right: 30px;
  left: auto;
  color: #eee;
  font-size: 10px;
}
.down-arrow.none {
  display: inline-block;
}

.dept3__item-link:before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  margin-right: 4px;
  vertical-align: middle;
  background: #968c8c;
}
.none.dept3__item-link:before {
  width: 0;
  height: 0;
}
/* gnb pc */
@media only screen and (min-width: 1024px) {
  .gnb {
    position: relative;
  }
  .gnb-container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 1rem;
  }
  .gnb__util {
    display: block;
  }
  .m-hamberger,
  .m-search,
  .m-utill {
    display: none;
  }
  .down-arrow {
    display: none !important;
  }
  .dept1__item-link--active {
    color: #ffe064;
  }
  .dept1__item-link {
    position: relative;
  }

  /* logo */
  .logo__img {
    width: 100px;
    height: 45px;
  }

  .gnb__util {
    color: #fff;
    font-size: 12px;
  }

  /* dept 1 */
  .dept1-wrap {
    width: 80%;
  }
  .dept1 {
    display: flex;
    align-items: center;
  }
  .dept1__item {
    color: #fff;
    display: block;
    height: 80px;
    width: 20%;

    font-size: 18px;
    color: #fff;
    font-weight: 400;
    text-align: center;
  }
  .dept1__item-link {
    width: 100%;
    height: 80px;
    padding: 31px 0;
    display: inline-block;
  }

  /* dept 2 */
  .dept2 {
    width: 82%;
  }
  .dept2.dept2-culture {
    width: 100%;
  }
  .dept2-wrap {
    position: absolute;
    left: 0;
    color: #333;
    width: 100vw;
    text-align: left;
    top: 80px;
    display: none;
  }
  .dept2-wrap__left {
    width: 18%;
    min-width: 200px;
    padding: 40px 35px 0 0;
    font-size: 40px;
    color: #fff;
    letter-spacing: -0.5px;
    text-align: right;
    vertical-align: top;
    position: relative;
    z-index: 1;
  }
  .dept2-wrap__left-img {
    display: block;
    width: 318px;
    height: 320px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
  .dept2__item-link {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    width: 240px;
    display: inline-block;
    padding: 14px 10px 11px 28px;
    text-align: left;
    font-size: 15px;
    color: #fff;
    line-height: 1;
    vertical-align: top;
    display: table-cell;
  }

  /* Dept2 Culture */
  .dept2-culture .dept2 {
    width: auto;
    padding-top: 62px;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 49px;
    border-right: none;
    display: flex;
  }
  .dept2-culture .dept2__item {
    width: 12.5%;
    margin-top: 0;
    border-top: none;
  }
  .dept2-culture .dept2__item-link {
    position: relative;
    top: 0;
    left: 0;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 104px;
    text-align: center;
    color: #464646;
    font-size: 14px;
    font-weight: 200;
    display: block;
    line-height: 18px;
    word-break: keep-all;
    text-align: center;
  }
  .dept2-culture .dept2__item-link:before {
    position: absolute;
    top: 0;
    left: calc(50% - 45px);
    display: block;
    width: 91px;
    height: 91px;
    background-color: transparent;
    border: #c5cad0 solid 1px;
    border-radius: 91px;
    box-sizing: border-box;
    content: "";
    transform: scaleY(1);
  }
  .dept2-culture .dept2__item-link:after {
    position: absolute;
    top: 1px;
    left: calc(50% - 44px);
    display: block;
    width: 89px;
    height: 89px;
    background-repeat: no-repeat;
    background-image: url(../img/tour_icons.png);
    content: "";
    transition: background-position 250ms ease-in-out;
  }
  .dept2-culture .dept2__item-link:hover:after {
    background-position: left bottom;
  }
  /* each dept2 wrap */
  /* order 1 */
  .dept2-wrap[data-order="1"] .dept2-wrap__left {
    background: #75be38;
  }
  .dept2-wrap[data-order="1"] .dept2-wrap__left-img {
    background: url(../img/menu-illust.jpg) no-repeat;
    background-position: -321px -0.5px;
  }
  .dept2-wrap[data-order="1"] .dept2__item-link {
    background-color: #63ad24;
  }
  /* order 2 */
  .dept2-wrap[data-order="2"] .dept2-wrap__left {
    background: #ff6948;
  }
  .dept2-wrap[data-order="2"] .dept2-wrap__left-img {
    background: url(../img/menu-illust.jpg) no-repeat;
    background-position: 2px 0px;
  }
  .dept2-wrap[data-order="2"] .dept2__item-link {
    background-color: #eb5f3f;
  }
  /* order 3 */
  .dept2-wrap[data-order="3"] .dept2-wrap__left {
    background: #178391;
  }
  .dept2-wrap[data-order="3"] .dept2__item-link {
    background-color: #11646f;
  }
  /* order 4 */
  .dept2-wrap[data-order="4"] .dept2-wrap__left {
    background: #4174b6;
  }
  .dept2-wrap[data-order="4"] .dept2__item-link {
    background-color: #2a4c76;
  }

  /* order 5 */
  .dept2-wrap[data-order="5"] .dept2-wrap__left {
    background: #797acc;
  }
  .dept2-wrap[data-order="5"] .dept2-wrap__left-img {
    background: url(../img/menu-illust.jpg) no-repeat;
    background-position: -0.5px -322px;
  }
  .dept2-wrap[data-order="5"] .dept2__item-link {
    background-color: #6869ba;
  }

  /* order 6 */
  .dept2-wrap[data-order="6"] .dept2-wrap__left {
    background: #fcbd56;
  }
  .dept2-wrap[data-order="6"] .dept2-wrap__left-img {
    background: url(../img/menu-illust.jpg) no-repeat;
    background-position: -321px -321px;
  }
  .dept2-wrap[data-order="6"] .dept2__item-link {
    background-color: #ebae4b;
  }
  /* order 7 */
  .dept2-wrap[data-order="7"] {
    background-color: #eee;
  }
  .dept2-wrap[data-order="7"] .dept2__item-link {
    border-bottom: 0px;
    color: #333;
    text-align: center;
  }

  .flex {
    display: flex;
  }
  .dept2__item {
    width: 100%;
    display: flex;
  }
  /* dept 3 */
  .dept3 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 11px 0;
  }
  .dept3-wrap {
    display: inline-block;
    width: 100%;
  }
  .dept3__item {
    margin: 0 4px 0 20px;
    line-height: 1.4em;
    display: inline-block;
  }
  .dept3__item-link {
    display: block;
    font-size: 15px;
    color: #555;
    text-align: left;
    font-weight: 400;
  }
}

/* gnb mobile */
@media only screen and (max-width: 1024px) {
  .m-hamberger,
  .m-search {
    padding: 0 1.2rem;
    color: #f8f8f8;
    font-size: 28px;
  }
  .menu-plus {
    display: block;
  }

  .dept1-wrap {
    background-color: #2b2f3e;
    visibility: hidden;
    transform: translateX(-100%);
  }
  .m-menu-active {
    visibility: visible;
    transform: translateX(0);
  }
  .m-shade-active {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    display: block;
    position: fixed;
    top: 0;
  }

  /* m-utill*/
  .m-utill {
    height: 60px;
    background-color: #1c3e61;
  }
  .m-utill-wrap {
    display: flex;
    position: absolute;
    top: 23px;
    left: 23px;
    font-size: 14px;
    color: #eee;
  }
  /* dept-1 */
  .dept1-wrap {
    position: absolute;
    top: 0px;
    width: 310px;
    height: 100vh;
    z-index: 2;
    transition: all ease-in-out 0.15s;
  }
  .m-login-wrap {
    margin-right: 1rem;
  }
  .m-utill__login-icon,
  .m-utill__globe-icon {
    margin: 0 0.2rem;
  }
  .m-utill__globe-text:after {
    content: "";
    display: inline-block;
    margin: 0 0 0 7px;
    vertical-align: middle;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 3px solid #fff;
  }
  .m-menu-close {
    color: #f4f4f4;
    position: absolute;
    right: 1rem;
    top: 18px;
    font-size: 24px;
  }

  /* dept 1 */
  .dept1__item {
    position: relative;
  }
  .dept1__item-link {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    display: block;
    position: relative;
    width: 100%;
    padding: 18px 38px;
    min-width: 0;
    font-size: 17px;
    font-weight: bold;
    color: #fff;
    text-align: left;
    background: #2b2f3e !important;
  }

  /* dept 2 */
  .dept2__item {
    position: relative;
  }
  .dept2__item-link {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    border-collapse: collapse;
    display: block;
    width: 100%;
    font-size: 17px;
    background: #b0a5a5;
    padding: 14px 38px;
  }
  .dept2-wrap__left {
    display: none;
  }

  /* dept 3 */
  .dept3 {
    display: block;
  }
  .dept3__item {
    background-color: #f4f4f4;
  }
  .dept3__item-link {
    padding: 9px 15px 9px 38px;
    display: block;
  }
  /* */
  .dept3-wrap {
    display: none;
  }
  .dept2-wrap {
    display: none;
  }
}
