@font-face {
  src: url("../fonts/MAKGEOLLI.ttf");

  font-family: "makgeolli";
}

/* 리셋 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  font-family: "Nanum Gothic", sans-serif;
}
li {
  list-style: none;
}
img {
  display: inline-block;
}
a {
  text-decoration: none;
  color: inherit;
}
em {
  font-style: normal;
}
strong {
  font-weight: 500;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  background-color: transparent;
  cursor: pointer;
}

.slick-slide img {
  margin: auto;
}
.slick-prev:before,
.slick-next:before {
  color: #333;
}

.slick-prev:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 10px;
  height: 14px;
  margin: auto;
  background-image: url(../img/deco_sprite.png);
  background-repeat: no-repeat;
  background-position: left top;
}
.slick-next:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 10px;
  height: 14px;
  margin: auto;
  background-image: url(../img/deco_sprite.png);
  background-repeat: no-repeat;
  background-position: left -48px;
}
address {
  font-style: normal;
}
.slick-prev:focus,
.slick-next:focus {
  outline: 1px solid#000 !important;
}
.slick-dots li button:focus {
  outline: 1px solid #000 !important;
}
.slick-slider {
  user-select: auto;
}
/* 유틸 */
.container {
  max-width: 1200px;
  margin: auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.flex {
  display: flex;
}
.none {
  display: none !important;
}
.em-red {
  color: #df0101;
}
.fsz-0 {
  font-size: 0;
}
