/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "NanumBarunGothic", sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

table {
  border-collapse: collapse;
  border: none;
}

td {
  border: none;
}
/* Utility */
.container {
  max-width: 1200px;
  margin: auto;
}
img {
  display: inline-block;
}
